In [41]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [42]:
movies_csv = pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [43]:
movies_df = pd.DataFrame(movies_csv)
movies_df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exploratory Data Analysis

In [44]:
movies_df.drop(columns='user_id', inplace=True)

In [45]:
# Which movies have maximum views/ratings?
count_df = pd.DataFrame(movies_df.count(), columns=['Num_Views_Ratings'])
Top_5_Viewed_Rated = count_df.sort_values(by=['Num_Views_Ratings'], ascending = False).head(n=6)
print(Top_5_Viewed_Rated)

          Num_Views_Ratings
Movie127               2313
Movie140                578
Movie16                 320
Movie103                272
Movie29                 243
Movie91                 128

In [46]:
# What is the average rating for each movie? Define the top 5 movies with the maximum ratings.
mean = movies_df.mean()
mean_df = pd.DataFrame(mean, columns=['Avg_Ratings'])
Top_5_Rated_Movies = mean_df.sort_values(by='Avg_Ratings', ascending=False).head()
print(Top_5_Rated_Movies)

         Avg_Ratings
Movie1           5.0
Movie66          5.0
Movie76          5.0
Movie75          5.0
Movie74          5.0

In [47]:
# Define the top 5 movies with the least audience
Bottom_5_Viewed_Rated = count_df.sort_values(by=['Num_Views_Ratings'], ascending = False).tail()
print(Bottom_5_Viewed_Rated)

          Num_Views_Ratings
Movie54                   1
Movie116                  1
Movie115                  1
Movie55                   1
Movie1                    1

Recommendation Model:

In [48]:
# Some of the movies hadnâ€™t been watched and therefore, are not rated by the users. Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm which provides the ratings for each of the users.

In [50]:
# Divide the data into training and test data
# pd.set_option('display.max_rows', None)
count_df.reset_index()
mean_df.reset_index()

count_list = list(count_df['Num_Views_Ratings'])
mean_df['Count'] = count_list
merged_df = mean_df.reindex(columns = ['Count', 'Avg_Ratings'])
merged_df.sort_values(by='Count', ascending=False)

          Count  Avg_Ratings
Movie127   2313     4.111976
Movie140    578     4.833910
Movie16     320     4.518750
Movie103    272     4.562500
Movie29     243     4.806584
Movie91     128     4.578125
Movie92     101     4.772277
Movie89      83     4.578313
Movie158     66     4.818182
Movie108     54     4.666667
Movie107     39     4.000000
Movie111     39     4.641026
Movie205     35     4.628571
Movie182     30     4.733333
Movie5       29     4.103448
Movie161     25     4.600000
Movie185     24     4.791667
Movie86      21     4.666667
Movie90      18     1.833333
Movie184     17     4.823529
Movie52      17     3.470588
Movie173     15     4.733333
Movie162     15     4.866667
Movie206     13     4.923077
Movie163     13     4.461538
Movie109     13     4.384615
Movie138     13     4.076923
Movie81      12     4.416667
Movie117     11     4.727273
Movie192     10     4.500000
Movie196      9     4.888889
Movie186      9     5.000000
Movie110      8     4.875000
Movie204      8     4.375000
Movie200      8     4.625000
Movie119      8     4.375000
Movie179      7     4.714286
Movie193      7     4.571429
Movie141      7     4.142857
Movie190      7     4.714286
Movie114      7     4.428571
Movie43       7     4.857143
Movie194      7     4.714286
Movie188      6     5.000000
Movie134      6     4.000000
Movie95       6     3.333333
Movie202      6     4.333333
Movie160      6     4.666667
Movie191      6     5.000000
Movie118      5     5.000000
Movie12       5     5.000000
Movie197      5     3.800000
Movie101      5     5.000000
Movie97       5     4.800000
Movie125      5     4.800000
Movie24       5     4.400000
Movie189      5     5.000000
Movie164      4     5.000000
Movie169      4     5.000000
Movie113      4     3.750000
Movie174      4     4.750000
Movie121      4     4.250000
Movie122      4     5.000000
Movie124      4     4.750000
Movie131      4     5.000000
Movie168      4     5.000000
Movie139      4     5.000000
Movie157      4     5.000000
Movie167      4     5.000000
Movie130      4     4.500000
Movie104      4     4.500000
Movie62       4     3.000000
Movie39       4     5.000000
Movie40       3     5.000000
Movie132      3     5.000000
Movie23       3     5.000000
Movie53       3     2.000000
Movie120      3     5.000000
Movie26       3     3.000000
Movie96       3     5.000000
Movie170      3     4.333333
Movie94       3     4.333333
Movie128      3     5.000000
Movie129      3     4.000000
Movie28       3     3.333333
Movie105      3     5.000000
Movie201      3     4.333333
Movie85       3     5.000000
Movie137      3     4.000000
Movie150      3     5.000000
Movie159      2     3.000000
Movie181      2     5.000000
Movie151      2     4.500000
Movie155      2     4.000000
Movie51       2     4.500000
Movie148      2     5.000000
Movie30       2     4.500000
Movie172      2     4.500000
Movie166      2     4.000000
Movie32       2     4.500000
Movie31       2     5.000000
Movie126      2     4.500000
Movie136      2     5.000000
Movie22       2     5.000000
Movie44       2     5.000000
Movie112      2     5.000000
Movie70       2     5.000000
Movie19       2     3.500000
Movie4        2     5.000000
Movie76       2     5.000000
Movie102      2     4.000000
Movie11       2     5.000000
Movie198      2     5.000000
Movie93       2     5.000000
Movie82       2     5.000000
Movie99       2     4.000000
Movie79       2     5.000000
Movie33       1     5.000000
Movie165      1     5.000000
Movie199      1     5.000000
Movie7        1     5.000000
Movie21       1     5.000000
Movie34       1     5.000000
Movie8        1     5.000000
Movie6        1     4.000000
Movie36       1     5.000000
Movie37       1     5.000000
Movie156      1     4.000000
Movie203      1     3.000000
Movie3        1     2.000000
Movie35       1     5.000000
Movie10       1     5.000000
Movie9        1     5.000000
Movie195      1     4.000000
Movie20       1     3.000000
Movie180      1     5.000000
Movie153      1     5.000000
Movie178      1     5.000000
Movie177      1     5.000000
Movie176      1     5.000000
Movie175      1     5.000000
Movie187      1     5.000000
Movie18       1     5.000000
Movie25       1     5.000000
Movie17       1     3.000000
Movie15       1     5.000000
Movie171      1     2.000000
Movie14       1     4.000000
Movie27       1     5.000000
Movie13       1     5.000000
Movie183      1     5.000000
Movie154      1     1.000000
Movie72       1     5.000000
Movie152      1     5.000000
Movie58       1     1.000000
Movie60       1     1.000000
Movie61       1     5.000000
Movie106      1     5.000000
Movie2        1     5.000000
Movie63       1     5.000000
Movie100      1     4.000000
Movie98       1     5.000000
Movie64       1     3.000000
Movie65       1     5.000000
Movie66       1     5.000000
Movie67       1     1.000000
Movie68       1     5.000000
Movie69       1     1.000000
Movie88       1     4.000000
Movie87       1     5.000000
Movie84       1     5.000000
Movie83       1     3.000000
Movie71       1     4.000000
Movie80       1     4.000000
Movie78       1     5.000000
Movie77       1     5.000000
Movie75       1     5.000000
Movie74       1     5.000000
Movie59       1     2.000000
Movie57       1     5.000000
Movie149      1     5.000000
Movie56       1     5.000000
Movie147      1     5.000000
Movie146      1     4.000000
Movie145      1     5.000000
Movie144      1     1.000000
Movie143      1     5.000000
Movie142      1     5.000000
Movie38       1     5.000000
Movie73       1     2.000000
Movie41       1     5.000000
Movie135      1     5.000000
Movie42       1     5.000000
Movie133      1     5.000000
Movie45       1     1.000000
Movie46       1     5.000000
Movie47       1     5.000000
Movie48       1     5.000000
Movie123      1     5.000000
Movie49       1     5.000000
Movie50       1     5.000000
Movie54       1     5.000000
Movie116      1     5.000000
Movie115      1     4.000000
Movie55       1     5.000000
Movie1        1     5.000000

In [38]:
cutoff = 2
X = np.array(merged_df.loc[merged_df['Count']>2])
y = np.array(merged_df.loc[merged_df['Count']<2])

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [90, 89]

In [25]:
# Build a recommendation model on training data
scaler=MinMaxScaler(feature_range=(0,1))
final_data = merged_df.values
scaler=MinMaxScaler(feature_range=(0,1))
scaled_data=scaler.fit_transform(final_data)
x_train_data,y_train_data=[],[]
for i in range(60,len(train)):
    x_train_data.append(scaled_data[i-60:i,0])
    y_train_data.append(scaled_data[i,0])

In [ ]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(train)
X_test = scaler.transform

In [29]:
# Make predictions on the test data
lstm_model=Sequential()
lstm_model.add(LSTM(units=50,return_sequences=True,input_shape=(np.shape(x_train_data)[1],1)))
lstm_model.add(LSTM(units=50))
lstm_model.add(Dense(1))
model_data=merged_df[len(merged_df)-len(test)-60:].values
model_data=model_data.reshape(-1,1)
model_data=scaler.transform(model_data)

ValueError: X has 1 features, but MinMaxScaler is expecting 2 features as input.